.App {
  font-family: sans-serif;
  text-align: left;
}

ul {
  padding: 0;
}

.Item {
  list-style: none;
  padding: 4px;
  margin: 1px;
  background: red;
}

.DragGrip {
  /*position: absolute; */
  left: 0;
  display: inline-flex;
  justify-content: center;
  width: 20px;
  cursor: move;
}

.line {
  display: block;
  height: 10px;
  background: orange;
}

.line1:hover {
  display: block;
  height: 10px;
}
