.App {
  font-family: sans-serif;
  text-align: left;
}

ul {
  padding: 0;
}

.Item {
  list-style: none;
  padding: 4px;
  margin: 1px;
  background: red;
}

.DragGrip {
  position: absolute;
  left: 0;
  display: inline-flex;
  justify-content: center;
  width: 20px;
  cursor: move;
}

.line{
  display: block;
  height: 1px;
  width: 100%;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
